body{
    background:linear-gradient(to right , rgb(126, 126, 209) , rgb(100, 173, 100))
}

.game-box{
    height: 50%;
    background-color: white;
    display: flex;
    width: 75%;
    margin-left: 11%;
    position: relative;
}

.player{
    width: 50%;
    padding: 50px 100px;
    box-sizing: border-box;
    text-align: center;
}
.player-score p{
    font-size: 70px;
    margin-bottom: 50px;
}

.current-score{ 
    width: 120px;
    box-sizing: border-box; 
    padding: 5px 0px;
    margin-left: 50px;
    font-weight: 600;
}

.player-warning{
    color: red;
    font-size: 17px;
    font-weight: 600;
    opacity: 0;
}

.current-score span{
    font-size: 40px;
    color: white;
}

.btn{
    position: absolute;
}

#new-game{
    top: 16%;
    left: 44%;
}

#rotate{
    top: 65%;
    left: 46%;
}

#hold{
    top: 79%;
    left:47%;
}

.active{
    background:rgb(206, 206, 209);
    transition: all 0.3;
}

.winner{
    opacity: 0;
}

.dice{
    position: absolute;
    left: 45%;
    top: 40%;
    font-size: 30px;
    width: 80px;
}




